*.DS_Store
*.obj
*.o
lib/
*.exe
CMakeFiles/
*.cmake
Makefile
CMakeCache.txt
libdsfml.a
.dub/
build
build.exe
unittest/unittest
unittest/unittest.exe
unittest/Text.png
unittest/log.txt
dub.selections.json