*.DS_Store
*.obj
*.o
lib/
import/
*.exe
CMakeFiles/
*.cmake
Makefile
CMakeCache.txt
libdsfml.a
.dub/
build
build.exe
unittest/unittest
unittest/unittest.exe
unittest/Text.png
unittest/log.txt
unittest/*.dll
unittest/*.so
unittest/*.dylib
dub.selections.json
